<%- model_class = Mini -%>
<table class="table table-striped">
  <tbody>
    <% if current_admin %>
      <% @minis.each do |mini| %>
        <tr>
          <td><%= link_to mini.id, mini_path(mini) %></td>
          <td><%= mini.content %></td>
          <td><%=l mini.created_at %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_mini_path(mini), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        mini_path(mini),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <% @minis.each do |mini| %>
        <tr>
          <td><%= mini.content %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if current_admin %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mini_path,
            :class => 'btn btn-primary' %>
<% end %>