<%- model_class = Post -%>

<div class="accordion" id="accordion2">
  <% @posts.each do |post| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="http://twitter.github.com/bootstrap/javascript.html#collapse<%= post.id %>">
          <%= post.heading %>
        </a>
      </div>
      <div id="collapse<%= post.id %>" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">
          <%= post.content.html_safe %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% if current_admin %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
<% end %>
